{% comment %} include css stylesheet {% endcomment %}
{{ 'custom-global-styles.css' | asset_url | stylesheet_tag }}
{{ 'custom-banner-section-styles.css' | asset_url | stylesheet_tag }}

{% comment %} include javascript file {% endcomment %}
<script src="{{ 'custom-banner-section-script.js' | asset_url }}" defer></script>

{% comment %} section markup {% endcomment %}
<header>
  <div class="container">
    <div id="nav-icon">
      <img
        src="{{ 'icon-open-nav.png' | asset_img_url }}"
        alt="open nav"
        id="open-nav"
        width="12"
        height="12"
      >
      <img
        src="{{ 'icon-close-nav.png' | asset_img_url }}"
        alt="close nav"
        id="close-nav"
        width="12"
        height="12"
      >
    </div>
    <div id="nav-menu">
      <p class="slogan">{{ section.settings.headerSlogan }}</p>
      <button class="btn">
        <span>choose gift</span>
        <svg
          width="27"
          height="12"
          viewBox="0 0 27 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1 5.25C0.585786 5.25 0.25 5.58579 0.25 6C0.25 6.41421 0.585786 6.75 1 6.75L1 5.25ZM26.5303 6.53033C26.8232 6.23743 26.8232 5.76256 26.5303 5.46967L21.7574 0.696697C21.4645 0.403804 20.9896 0.403804 20.6967 0.696697C20.4038 0.989591 20.4038 1.46446 20.6967 1.75736L24.9393 6L20.6967 10.2426C20.4038 10.5355 20.4038 11.0104 20.6967 11.3033C20.9896 11.5962 21.4645 11.5962 21.7574 11.3033L26.5303 6.53033ZM1 6.75L26 6.75L26 5.25L1 5.25L1 6.75Z"
            fill="#000000"
          />
        </svg>
      </button>
    </div>
    <div class="logo">
      <img src="{{'logo.svg' | asset_url}}" alt="logo" width="152" height="19">
    </div>
    <p class="slogan slogan-desktop">{{ section.settings.headerSlogan }}</p>
    <button class="btn btn-desktop">
      <span>{{ section.settings.headerButtonText }}</span>
      <svg
        width="27"
        height="12"
        viewBox="0 0 27 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1 5.25C0.585786 5.25 0.25 5.58579 0.25 6C0.25 6.41421 0.585786 6.75 1 6.75L1 5.25ZM26.5303 6.53033C26.8232 6.23743 26.8232 5.76256 26.5303 5.46967L21.7574 0.696697C21.4645 0.403804 20.9896 0.403804 20.6967 0.696697C20.4038 0.989591 20.4038 1.46446 20.6967 1.75736L24.9393 6L20.6967 10.2426C20.4038 10.5355 20.4038 11.0104 20.6967 11.3033C20.9896 11.5962 21.4645 11.5962 21.7574 11.3033L26.5303 6.53033ZM1 6.75L26 6.75L26 5.25L1 5.25L1 6.75Z"
          fill="#000000"
        />
      </svg>
    </button>
  </div>
</header>
{% comment %} section markup {% endcomment %}

{% schema %}
{
  "name": "Custom Banner Section",
  "tag": "section",
  "class": "banner-section",
  "settings": [
    {
      "type": "header",
      "content": "Header Settings"
    },
    {
      "type": "text",
      "id": "headerSlogan",
      "label": "Header Slogan Text",
      "default": "Find the ideal gift for your loved ones.",
      "placeholder": "Enter text here..."
    },
    {
      "type": "text",
      "id": "headerButtonText",
      "label": "Header Button Text",
      "default": "Choose Gift",
      "placeholder": "Enter text here..."
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Custom Banner Section"
    }
  ]
}
{% endschema %}
