{% comment %} include css stylesheet {% endcomment %}
{{ 'custom-global-styles.css' | asset_url | stylesheet_tag }}
{{ 'custom-grid-section-styles.css' | asset_url | stylesheet_tag }}

{% comment %} include javascript file {% endcomment %}
<script src="{{ 'custom-grid-section-script.js' | asset_url }}" defer></script>

{% comment %} section markup {% endcomment %}
<div class="grid-section-container">
  <h2>{{ section.settings.gridSectionTitle }}</h2>
  {% if section.settings.selectedProducts == blank %}
    <div class="products-grid__empty">
      <p>
        No Products Added To Show Here<br>
        <em>stay tuned</em>
      </p>
    </div>
  {% else %}
    <article class="products-grid">
      {% for selectedProduct in section.settings.selectedProducts %}
        {% liquid
          assign product_obj = selectedProduct
          assign product_image = selectedProduct.featured_image
          assign product_title = selectedProduct.title
          assign product_price = selectedProduct.price | money
          assign product_desc = selectedProduct.description | strip_html | strip_newlines
          assign product_color = selectedProduct.options_by_name.Color
          assign product_size = selectedProduct.options_by_name.Size
          assign product_variants = selectedProduct.variants
          assign form_id = 'addtocart-form_{{ product_obj.id }}'
          assign idx = forloop.index0
        %}

        <div class="products-grid__item">
          <button class="product-popup__btn" data-index="{{ idx }}">
            <svg
              width="10"
              height="10"
              viewBox="0 0 11 11"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.3457 1.04175V9.50329"
                stroke="black"
                stroke-width="1.5"
                stroke-linecap="square"
                stroke-linejoin="round"
              />
              <path
                d="M1.11523 5.27252H9.57677"
                stroke="black"
                stroke-width="1.5"
                stroke-linecap="square"
                stroke-linejoin="round"
              />
            </svg>
          </button>
          {{ product_image | image_url: width: 433, height: 444 | image_tag: alt: product_image.alt }}
        </div>
        {% comment %} product popup {% endcomment %}
        <div class="product-popup__container" data-index="{{ idx }}">
          <div class="product-popup__window">
            <div class="exit-btn-wrapper">
              <button class="product-popup__exit">
                <img
                  src="{{ 'icon-close-menu.svg' | asset_url }}"
                  width="12"
                  height="12"
                  alt=""
                >
              </button>
            </div>
            <div class="product-popup__content">
              <div class="product-popup__image">
                {{ product_image | image_url: width: 120, height: 140 | image_tag: alt: product_image.alt }}
              </div>
              <div class="product-popup__text">
                <h3>{{ product_title }}</h3>
                <p class="product-popup__price">{{ product_price }}</p>
                <p class="product-popup__desc">
                  {{ product_desc }}
                </p>
              </div>
            </div>
            {% form 'product', product_obj, class: 'product-popup__addtocart-form', id: form_id, data-index: idx %}
              {% comment %} required to add quantity for the form to work {% endcomment %}
              <input type="hidden" name="quantity" value="1">
            {% endform %}
            <div class="wrapper">
              <div class="product-popup__colorpicker">
                <h4>Color</h4>
                <div class="colorpicker">
                  {% for value in product_color.values %}
                    <label style="--selection-color-peak: {{ value }}">
                      {{ value }}
                      <input type="radio" form="{{ form_id }}" name="color" value="{{ value | escape }}">
                    </label>
                  {% endfor %}
                  <div class="checked-item"></div>
                </div>
              </div>

              <div class="product-popup__sizepicker">
                <h4>Size</h4>
                <div class="sizepicker">
                  <div class="toggle-sizepicker" data-index="{{ idx }}">
                    <p>Choose your size</p>
                    <span class="arrow">
                      <img
                        src="{{ 'icon-sizepicker.svg' | asset_url}}"
                        width="16"
                        height="10"
                        alt=""
                        data-index="{{ idx }}"
                      >
                    </span>
                  </div>
                  <div class="sizepicker-menu" data-index="{{ idx }}">
                    <ul>
                      {% for value in product_size.values %}
                        <li data-value="{{ value | escape }}">
                          {{ value }}
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" form="{{ form_id }}" class="btn product-popup__addtocart">
              <span>add to cart</span>
              <svg
                width="27"
                height="12"
                viewBox="0 0 27 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1 5.25C0.585786 5.25 0.25 5.58579 0.25 6C0.25 6.41421 0.585786 6.75 1 6.75L1 5.25ZM26.5303 6.53033C26.8232 6.23743 26.8232 5.76256 26.5303 5.46967L21.7574 0.696697C21.4645 0.403804 20.9896 0.403804 20.6967 0.696697C20.4038 0.989591 20.4038 1.46446 20.6967 1.75736L24.9393 6L20.6967 10.2426C20.4038 10.5355 20.4038 11.0104 20.6967 11.3033C20.9896 11.5962 21.4645 11.5962 21.7574 11.3033L26.5303 6.53033ZM1 6.75L26 6.75L26 5.25L1 5.25L1 6.75Z"
                  fill="#ffffff"/>
              </svg>
            </button>
          </div>
        </div>
        {% comment %} product popup {% endcomment %}
        <script type="application/json" class="product-variants" data-index="{{ idx }}">
          {{ product_variants | json }}
        </script>
      {% endfor %}
    </article>
  {% endif %}
</div>
{% comment %} section markup {% endcomment %}

{% schema %}
{
  "name": "Custom Grid Section",
  "tag": "section",
  "class": "grid-section",
  "settings": [
    { "type": "header", "content": "Products Grid Settings" },
    {
      "type": "text",
      "id": "gridSectionTitle",
      "label": "Section Title Text",
      "default": "Tisso vison in the wild"
    },
    {
      "type": "product_list",
      "id": "selectedProducts",
      "label": "Fetured Products",
      "info": "Select products to add to the grid (max: 6)",
      "limit": 6
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Custom Grid Section"
    }
  ]
}
{% endschema %}
