{% comment %} include css stylesheet {% endcomment %}
{{ 'custom-global-styles.css' | asset_url | stylesheet_tag }}
{{ 'custom-banner-section-styles.css' | asset_url | stylesheet_tag }}

{% comment %} include javascript file {% endcomment %}
<script src="{{ 'custom-banner-section-script.js' | asset_url }}" defer></script>

{% comment %} section markup {% endcomment %}
<header>
  <div class="container">
    <div id="nav-icon">
      <img
        src="{{ 'icon-open-menu.svg' | asset_url }}"
        alt="open nav"
        id="open-nav"
        width="20"
        height="12"
      >
      <img
        src="{{ 'icon-close-menu.svg' | asset_url }}"
        alt="close nav"
        id="close-nav"
        width="15"
        height="15"
      >
    </div>
    <div id="nav-menu">
      <p class="slogan">{{ section.settings.headerSlogan }}</p>
      <a href="{{ section.settings.headerButtonLink }}" class="btn">
        <span>{{ section.settings.headerButtonText }}</span>
        <svg
          width="27"
          height="12"
          viewBox="0 0 27 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1 5.25C0.585786 5.25 0.25 5.58579 0.25 6C0.25 6.41421 0.585786 6.75 1 6.75L1 5.25ZM26.5303 6.53033C26.8232 6.23743 26.8232 5.76256 26.5303 5.46967L21.7574 0.696697C21.4645 0.403804 20.9896 0.403804 20.6967 0.696697C20.4038 0.989591 20.4038 1.46446 20.6967 1.75736L24.9393 6L20.6967 10.2426C20.4038 10.5355 20.4038 11.0104 20.6967 11.3033C20.9896 11.5962 21.4645 11.5962 21.7574 11.3033L26.5303 6.53033ZM1 6.75L26 6.75L26 5.25L1 5.25L1 6.75Z"
            fill="#000000"
          />
        </svg>
      </a>
    </div>
    <div class="logo">
      {% comment %}
        couldn't identify the font so i used an image and added setting to edit as an image logo
      {% endcomment %}
      {% if section.settings.logoImage != null %}
        {{ section.settings.logoImage | image_url: width: 152, height: 19 | image_tag: alt: 'logo' }}
      {% else %}
        <img src="{{'logo.svg' | asset_url}}" alt="logo" width="152" height="19">
      {% endif %}
    </div>
    <p class="slogan slogan-desktop">{{ section.settings.headerSlogan }}</p>
    <a href="{{ section.settings.headerButtonLink }}" class="btn btn-desktop">
      <span>{{ section.settings.headerButtonText }}</span>
      <svg
        width="27"
        height="12"
        viewBox="0 0 27 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1 5.25C0.585786 5.25 0.25 5.58579 0.25 6C0.25 6.41421 0.585786 6.75 1 6.75L1 5.25ZM26.5303 6.53033C26.8232 6.23743 26.8232 5.76256 26.5303 5.46967L21.7574 0.696697C21.4645 0.403804 20.9896 0.403804 20.6967 0.696697C20.4038 0.989591 20.4038 1.46446 20.6967 1.75736L24.9393 6L20.6967 10.2426C20.4038 10.5355 20.4038 11.0104 20.6967 11.3033C20.9896 11.5962 21.4645 11.5962 21.7574 11.3033L26.5303 6.53033ZM1 6.75L26 6.75L26 5.25L1 5.25L1 6.75Z"
          fill="#000000"
        />
      </svg>
    </a>
  </div>
</header>
<article class="main">
  <img src="{{'cover-desktop.svg' | asset_url}}" alt="" class="main-cover" width="1052" height="400">
  <div class="main-content-container">
    <div class="main-content">
      <h1>{{ section.settings.mainTitle }}</h1>
      <p>
        {{ section.settings.mainBriefDescription | capitalize }}
        <span>{{ section.settings.mainDetailedDescription | capitalize }}</span>
      </p>
      <a href="{{ section.settings.mainButtonLink }}" class="btn">
        <span>{{ section.settings.mainButtonText }}</span>
        <svg
          width="27"
          height="12"
          viewBox="0 0 27 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1 5.25C0.585786 5.25 0.25 5.58579 0.25 6C0.25 6.41421 0.585786 6.75 1 6.75L1 5.25ZM26.5303 6.53033C26.8232 6.23743 26.8232 5.76256 26.5303 5.46967L21.7574 0.696697C21.4645 0.403804 20.9896 0.403804 20.6967 0.696697C20.4038 0.989591 20.4038 1.46446 20.6967 1.75736L24.9393 6L20.6967 10.2426C20.4038 10.5355 20.4038 11.0104 20.6967 11.3033C20.9896 11.5962 21.4645 11.5962 21.7574 11.3033L26.5303 6.53033ZM1 6.75L26 6.75L26 5.25L1 5.25L1 6.75Z"
            fill="#ffffff"
          />
        </svg>
      </a>
    </div>
    <picture>
      <source
        media="(max-width:768px)"
        srcset="{{'cover-mobile.svg' | asset_url}}"
      >
      <img
        src="{{'cover-desktop.svg' | asset_url}}"
        alt=""
        class="main-content-cover"
        width="1052"
        height="400"
      >
    </picture>
  </div>
</article>
<footer>
  <p>
    {{ section.settings.footerSloganMain }}
    <span>{{ section.settings.footerSloganLongDesc }}</span><span>{{ section.settings.footerSloganShortDesc }}</span>
  </p>
</footer>
{% comment %} section markup {% endcomment %}

{% schema %}
{
  "name": "Custom Banner Section",
  "tag": "section",
  "class": "banner-section",
  "settings": [
    {
      "type": "header",
      "content": "Header Settings"
    },
    {
      "type": "image_picker",
      "id": "logoImage",
      "label": "Logo Image",
      "info": "Choose a logo image"
    },
    {
      "type": "text",
      "id": "headerSlogan",
      "label": "Header Slogan Text",
      "default": "Find the ideal gift for your loved ones.",
      "placeholder": "Enter text here..."
    },
    {
      "type": "text",
      "id": "headerButtonText",
      "label": "Header Button Text",
      "default": "Choose Gift",
      "placeholder": "Enter text here..."
    },
    {
      "type": "url",
      "id": "headerButtonLink",
      "label": "Header Button link"
    },
    {
      "type": "header",
      "content": "Main Content Settings"
    },
    {
      "type": "text",
      "id": "mainTitle",
      "label": "Main Title Text",
      "default": "The Gift Guide",
      "placeholder": "Enter text here..."
    },
    {
      "type": "text",
      "id": "mainBriefDescription",
      "label": "Main Brief Description",
      "default": "Discover Joy: Your Ultimate Holiday Gift Destination.",
      "placeholder": "Enter text here..."
    },
    {
      "type": "textarea",
      "id": "mainDetailedDescription",
      "label": "Main Detailed Description",
      "default": "Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season.",
      "placeholder": "Enter text here...",
      "info": "This only shows on devices with larger screens (eg. Desktop)"
    },
    {
      "type": "text",
      "id": "mainButtonText",
      "label": "Main Button Text",
      "default": "shop now",
      "placeholder": "Enter text here..."
    },
    {
      "type": "url",
      "id": "mainButtonLink",
      "label": "Main Button link"
    },
    {
      "type": "header",
      "content": "Footer Settings"
    },
    {
      "type": "text",
      "id": "footerSloganMain",
      "label": "Footer Slogan",
      "default": "sustainable, ethically made",
      "placeholder": "Enter text here..."
    },
    {
      "type": "text",
      "id": "footerSloganLongDesc",
      "label": "Footer Slogan Long Description",
      "default": "in sizes xxs to 6xl",
      "placeholder": "Enter text here...",
      "info": "This shows on devices with larger screens (eg. Desktop)"
    },
    {
      "type": "text",
      "id": "footerSloganShortDesc",
      "label": "Footer Slogan Brief Description",
      "default": "activewear",
      "placeholder": "Enter text here...",
      "info": "This shows on devices with smaller screens (eg. Mobile)"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Custom Banner Section"
    }
  ]
}
{% endschema %}
