{% comment %} include css stylesheet {% endcomment %}
{{ 'custom-global-styles.css' | asset_url | stylesheet_tag }}
{{ 'custom-grid-section-styles.css' | asset_url | stylesheet_tag }}

{% comment %} include javascript file {% endcomment %}
<script src="{{ 'custom-grid-section-script.js' | asset_url }}" defer></script>

{% comment %} section markup {% endcomment %}
<div class="grid-section-container">
  <h2>{{ section.settings.gridSectionTitle }}</h2>
  <article class="products-grid">
    {% for selectedProduct in section.settings.selectedProducts %}
      <div class="products-grid__item">
        <button class="product-popup__btn">
          <svg
            width="10"
            height="10"
            viewBox="0 0 11 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5.3457 1.04175V9.50329"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
            <path
              d="M1.11523 5.27252H9.57677"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        {{ selectedProduct.featured_image | image_url: width: 433 | image_tag: alt: 'product image' }}
      </div>
    {% endfor %}
  </article>
</div>
{% comment %} section markup {% endcomment %}

{% schema %}
{
  "name": "Custom Grid Section",
  "tag": "section",
  "class": "grid-section",
  "settings": [
    { "type": "header", "content": "Products Grid Settings" },
    {
      "type": "text",
      "id": "gridSectionTitle",
      "label": "Section Title Text",
      "default": "Tisso vison in the wild"
    },
    {
      "type": "product_list",
      "id": "selectedProducts",
      "label": "Products",
      "info": "Select products to add to the grid (max: 6)",
      "limit": 6
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Custom Grid Section"
    }
  ]
}
{% endschema %}
